/* Products outside*/
 
.mainContent{
    padding: 2rem 0 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: center;
    gap: 1.5rem;
}

.single-product{
    height: 100%;
    display: grid;
    row-gap: 10px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 0 0.1em rgba(0,0,0,0.2);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition-property: box-shadow;
    overflow: hidden;
}
.single-product:hover{
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
    transition: .3s ease;
}
.imgDiv{
    height: 220px;
    width: 100%;
    overflow: hidden;
}
.imgDiv img{
    height: 100%;
    width: 100%;
    /* Aqui se puede cambiar a cover, las imagenes mejoran la calidad y rellenan el contenedor, pero el detalle que se recortan las imagenes */
    object-fit:contain;
    transition: hidden;
}

.card-info{
    border-top: 1px solid rgb(230, 230, 230);
    padding: 0.5rem 1rem;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}
.card-info * + *{
    display: block;
    margin-bottom: 1rem;
}
.price{
    font-weight: bold;
    color: green;
}
.product-title{
    font-weight: bold;
    color: black;
}
.shipping{
    color: var(--second-alpha-color);
    font-weight: bold;
}
.head-mobile{
    display: flex;
    justify-content: space-between;
}

/* Desktop */
@media screen and (min-width:420px){
    .mainContent{
        grid-template-columns: repeat(2,1fr);
    }
    .single-product{
        height: auto;
    }
}
@media screen and (min-width:720px){
    .mainContent{
        grid-template-columns: repeat(3,1fr);
    }
    .single-product{
        height: auto;
    }
}
@media screen and (min-width:1024px){
    .mainContent{
        grid-template-columns: repeat(4,1fr);
    }
    .single-product{
        height: auto;
    }
}



/* Star points */
/* .form-stars{
    width: 250px;
    margin: 0 auto;
    height: 50px; 
  }
   */
.form-stars p {
    text-align: center;
  }
  
.form-stars label {
    font-size: 20px;
  }
  
.form-stars input[type="radio"] {
    display: none;
  }
  
 .form-stars label {
    /* color: grey; */
    color:black;
    cursor: pointer;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
.form-stars label:hover,
.form-stars label:hover ~ label {
    color: orange;
  }
  
 .form-stars input[type="radio"]:checked ~ label {
    color: orange;
  }

/* Bootstrap custom styles */
.btn-info{ 
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--second-alpha-color);
    --bs-btn-border-color: var(--second-alpha-color);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #787bc8;
    --bs-btn-hover-border-color:var(--second-alpha-color) ;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--second-alpha-color);
    --bs-btn-active-border-color: var(--second-alpha-color);
    --bs-btn-disabled-color:rgb(57, 55, 55);
    --bs-btn-disabled-bg: #a7a9ea;
    --bs-btn-disabled-border-color: #787bc8;
  
}



/* Comments */

.comments{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; 
    
     
}
 .comment-text{
    width: 90vw;
    resize: none;
}
.edit-com-text{
    width: 100%;
    resize: none;
}
.btn-send-com{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.all-comments{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.card-comment{
    margin-top: 1rem;
    width:90vw;
    
}
.bx-10{
    color: black;
}
.bx-5{
    color: orange;
}
.bx-6{
    color: #5bc0de;
}

.icons-com .edit-icon-c{
    color: grey;
    cursor: pointer;
}
.icons-com .edit-icon-c:hover{
    color: rgb(159, 159, 17);
}
.icons-com .del-icon-c{
    color: #cd3a35;
    cursor: pointer;
}
.icons-com .del-icon-c:hover{
    color: #f67f7b;
}



@media screen and (min-width: 768px){
    .comments textarea{
       
        width: 50vw;
    }
    .card-comment{
        width:60vw;
    }
} 



