/* Mobile first */
/* .btn-i {
  padding: 0.4rem 1.5rem;
  background-color: var(--second-alpha-color);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
}

.header {
  position: fixed;
  background: var(--first-color);
  width: 100%;
  padding: 0.9rem;
  z-index: 1000;
  bottom: 0;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burger-btn {
  display: block;
  background-color: var(--second-alpha-color);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: thin solid var(--second-color);
  padding: 0.5rem 1rem;
  z-index: 999;
}
.burger-btn svg {
  fill: var(--white-color);
}
.icon {
  display: block;
  width: 45px;
  height: 45px;
}
.none {
  display: none;
}
.logo a {
  font-family: "Bungee Inline", cursive;
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--black-color);
}
.logo a::first-letter{
  text-transform: uppercase !important;
}

@media screen and (max-width: 768px) {
  .navbar {
    background-color: hsl(238, 45%, 59%); 
    position: absolute;
    height: max-content;
    padding: 2rem;
    width: 100%;
    bottom: 0;
    right: -500%;
    box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
    transition: 0.8s ease;
    z-index: 1000;
  }
  .navbar > .navList {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
  }

  .navbar > .navList > .navItem {
    padding: 1.2rem 0;
    text-align: center;
  }
  .navbar > .navList > .navItem > a {
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 600;
  }
  .navbar > .navList > .navItem > a:hover {
    color: var(--first-color);
    text-decoration: none;
  }
  .navbar.is-active {
    right: 0;
    margin-bottom: 4.4rem;
  }
  .headerBtn {
    display: none !important;
  }
}
.navbar > .navList > .navItem > a:hover {
  color: hsl(238, 45%, 59%);
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin: 0;
  z-index: 5000;
}
@media screen and (max-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: none;
  }
}
 */
/* Desktop */

/* @media screen and (min-width: 769px) {
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
    border-bottom: 3px solid var(--second-alpha-color);
  }
  .burger-btn {
    display: none;
  }

  .navbar > .navList {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .navbar > .navList > .navItem > a {
    color: var(--black-color);
    padding: 0rem 0.2rem;
    font-size: 0.9rem;
    font-weight: 600;
  }

  .headerBtn {
    color: var(--black-color);
    font-weight: 500;
  }
  .loginBtn:hover {
    transition: 0.2s ease-in-out;
    background: hsl(238, 45%, 59%, 0.8);
    color: var(--white-color);
  }
  .loginBtn {
    background: transparent;
    border: 2px solid var(--second-alpha-color);
    font-weight: bold;
    padding: 0 0.8rem;
    border-radius: 3rem;
    transition: 0.2s ease-in-out;
  }

  .signBtn {
    background: var(--second-alpha-color);
    border: 2px solid var(--second-alpha-color);
    color: var(--white-color);
    padding: 0 0.8rem;
    border-radius: 3rem;
    transition: 0.2s ease-in-out;
  }
  
  .signBtn:hover {
    background: hsla(0, 4%, 63%, 0.3);
    transition: 0.2s ease-in-out;
  }
  .icon {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .navbar > .navList > .navItem {
    padding: 0 0.9rem;
  }
} */
/* Aqui empieza */

:root{
 
  --nav-color: #6669c5;
  --side-nav: #010718;
  --text-color: black;
  --text-color2: white;
  --search-bar: #F2F2F2;
  --search-text: #010718;
}
.navigation{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--first-color);
  z-index: 9999;
  
}



.navigation .nav-bar{
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: var(--first-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}

.navigation .nav-bar .sidebarOpen{
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

.navigation .nav-bar .logo a{
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color2);
  text-decoration: none;
}

.menu .logo-toggle{
  display: none;
}

.nav-bar .nav-links{
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li{
  margin: 0 5px;
  list-style: none;
}

.nav-links li a{
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.nav-links li a::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before{
  opacity: 1;
}

.nav-bar .darkLight-searchBox{
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.dark-light i,
.searchToggle i{
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-light i.sun{
  opacity: 0;
  pointer-events: none;
}

.dark-light.active i.sun{
  opacity: 1;
  pointer-events: auto;
}

.dark-light.active i.moon{
  opacity: 0;
  pointer-events: none;
}

.searchToggle i.cancel{
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel{
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search{
  opacity: 0;
  pointer-events: none;
}

.searchBox{
  position: relative;
}

.searchBox .search-field{
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.search-field::before{
  content: '';
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input{
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}

body.dark .search-field input{
  color: var(--text-color);
}

.search-field i{
  position: absolute;
  color: var(--nav-color);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

body.dark .search-field i{
  color: var(--text-color);
}

@media (max-width: 790px) {
  .navigation .nav-bar .sidebarOpen{
      display: block;
  }
  .nav-links li a{ 
    color: var(--text-color2);
   
  }
  .idioma {
    color: white;
  }
  .menu{
      position: fixed;
      height: 100%;
      width: 320px;
      left: -100%;
      top: 0;
      padding: 20px;
      background-color: var(--side-nav);
      z-index: 100;
      transition: all 0.4s ease;
  }

  .navigation.active .menu{
      left: -0%;
  }

  .navigation.active .nav-bar .navLogo a{
      opacity: 0;
      transition: all 0.3s ease;
  }

  .menu .logo-toggle{
      display: block;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .logo-toggle .siderbarClose{
      color: var(--text-color2);
      font-size: 24px;
      cursor: pointer;
  }

  .nav-bar .nav-links{
      flex-direction: column;
      padding-top: 30px;
  }

  .nav-links li a{
      display: block;
      margin-top: 20px;
  }
}





/* Aqui termina */

@media screen and (max-width: 320px) {
  .icon {
    width: 29px;
    height: 29px;
  }
  .logo a {
    font-size: 1.2rem;
  }
  .logo a img {
    width: 20px;
    height: 20px;
  }
  .burger-btn {
    padding: 0.3rem 0.6rem;
  }
}

.logo a img{
  width:110px;
}

@media screen and (min-width:768px){
  .logo a img{
    width:110px;
    margin-top:0px; 
  } 
}
@media screen and (max-width:320px){
  .logo a img{
    width: 80px;
    height: 50px;
  }
}


/* Dropdown */


/* .dropdown:hover .dropdown-menu {
  display: block;
  margin: 0;
  z-index: 5000;
  text-decoration: none;
  
}
@media screen and (max-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: none;
  }
} */