.chats-container{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.bg-color{
    background-color: var(--second-alpha-color);
}
.user-answer{
    display: flex;
    justify-content: end;
}