
.products{
    margin-top: 1rem;
}
.detailsContainer{
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    
}
.col{
    max-width: 400px;
    margin: 20px;
    height: 500px;
}
.prodImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    
}
.prodDetails{
    font-size: 1rem;
    word-spacing: 0.2rem;

}
.firstItem{
    margin-top: 0;
    
}

.icon2{
	width: 20px;
	height: 18px;
}
.button-cart {
    align-items: center;
    background-clip: padding-box;
    background-color: #007dfa;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-cart:hover,
  .button-cart:focus {
    background-color: #2290ff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-cart:hover {
    transform: translateY(-1px);
  }
  
  .button-cart:active {
    background-color: #0089c8;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
.button-buy {
    align-items: center;
    background-clip: padding-box;
    background-color: #01b81d;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-buy:hover,
  .button-buy:focus {
    background-color: #42d902;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-buy:hover {
    transform: translateY(-1px);
  }
  
  .button-buy:active {
    background-color: #00c83c;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  .choose{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .prodDetails .price{
    color: green;
  }
  
  .prodDetails .price strong{
    color: black;
    font-weight:700;
  }
  .options-container{
    
    display:flex;
    justify-content:end;
    padding :0.5rem;
  }
.report-container,.show-more-comment{
  color: black;
}  
.report-container .bx{
 color: rgb(90, 89, 89);
}
.report-container .bx:hover{
  color: rgb(199, 0, 0);
}
.show-more-comment:hover{
  color: var(--second-alpha-color);
}


@media screen and (min-width:851px){
    .prodImage{
        width: 100%;
        height: 100%;
    }
}