.usuario{
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.usuario .usuario-bold{
    font-weight: bold;
    color: var(--second-alpha-color);
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/* My data */
.my-data{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.telefonos{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.input-width{
    width: 90vw;
}
.input-short{
    width: 30vw;
}
.input-medium{
    width: 60vw;
}
.buttons-data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
}
@media screen and (min-width:768px){
    .input-width{
        width: 25vw;
    }
    .input-short{
        width: 8vw;
    }
    .input-medium{
        width: 17vw;
    }
}
/* .profile-btn-1{
    display: block;
}
.profile-btn-2{
    display: none;
}
@media screen and(min-width: 769px){
    .profile-btn-1{
        display: none;
    }
    .profile-btn-2{
        display: block;
    }
} */


/* Notifications */
.table-notifications{
    width: 95vw;
    margin: 0 auto;
}
@media screen and (min-width:768px){
    .table-notifications{
        width: 80vw;
    }   
    
}