.usuario{
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.usuario .usuario-bold{
    font-weight: bold;
    color: var(--second-alpha-color);
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/* .profile-btn-1{
    display: block;
}
.profile-btn-2{
    display: none;
}
@media screen and(min-width: 769px){
    .profile-btn-1{
        display: none;
    }
    .profile-btn-2{
        display: block;
    }
} */


/* Notifications */
.table-notifications{
    width: 95vw;
    margin: 0 auto;
}
@media screen and (min-width:768px){
    .table-notifications{
        width: 80vw;
    }   
    
}