
 .signup-form{
    /* height: 650px; */
    margin-top: 2rem;
    display: flex;

    justify-content: center;
    align-items: center;  
} 

 .form h1{
    text-align: center;
    font-weight: 700;
}

.signup-form form{
    background: white;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(163, 162, 162, 0.8);
    border-radius: 10px;
}

.form{
    width: 100%;
 margin: auto; 
}

.signup-form form .grupo{
    position: relative;
    margin: 30px ;
}

.grupo input{

    background: none;
    color: black;
    font-size: 18px;
    padding: 10px 15px 10px 5px;
    display: block;
    width: 40vw; 
    border: 0;
    border-bottom: 1px solid black;
}

.grupo input:focus{ 
    outline: none;
    color: black;
}


.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, var(--second-alpha-color),
    var(--first-color));
    transition: 0.3s ease width;
    left: 0;
}

.signup-form input:focus~.barra::before{
    width: 100%;
}

.have{
    
    text-align: center;
    color: rgb(95, 95, 237);
}
.go-login{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.go-login a{
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
.start {
    /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      hsl(238, 45%, 59%, 0.8),
      hsl(37, 99%, 61%, 0.8)
    );
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      hsl(238, 45%, 59%, 0.8),
      hsl(37, 99%, 61%, 0.8)
    );
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: black;
    font-weight: bold;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease-in;
  }
  .start:hover {
    background: linear-gradient(
      to right,
      hsl(238, 45%, 59%, 0.9),
      hsl(37, 99%, 61%, 0.9)
    );
    color: white;
  }

@media screen and (max-width:768px){
    .form h1{
        font-size: 1.5rem;
    }
    .signup-form form{
        width: 90%;
    }
    .grupo input{
        width: 100%; 
        font-size: 12px;
    }   
}

 /*  */

 .button-15 {
    background-image: linear-gradient(var(--second-alpha-color), var(--second-alpha-color));
    border: 1px solid  var(--second-color);
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin: 1rem auto;
  }
  
  .button-15:disabled {
    cursor: default;
    opacity: .3;
  }
  
  .button-15:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
  }
  
  .button-15:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
  }
  
  .button-15:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
  }

 /*  .alert, 
  .alert-danger, 
  .succes,
  .alerta{
    width: 200px !important;
    text-align: center !important;
    background-color: #cc0000 !important;
    margin: auto !important;
    color: white !important;
    border-radius: 10px !important;
    
  } */





