:root{
    --success:#5cb85c;
    --danger:#d9534f;
    --blue-color:#0275d8;
    --warning:#f0ad4e;
/*     --light: hsl(220, 50%, 90%); */
  --primary: hsl(255, 30%, 55%);
  --focus: hsl(210, 90%, 50%);
  --border-color: hsla(0, 0%, 100%, .2);
  --global-background: hsl(220, 25%, 10%);
  --background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
  --shadow-1: hsla(236, 50%, 50%, .3);
  --shadow-2: hsla(236, 50%, 50%, .4);
}

.accept{
    background: var(--success);
}
.btn-choose{  
    padding: 1rem;
    border: none;
    border-radius:0.7rem;
    font-weight: bold;
    color: white;
    margin-top: 1.2rem;
    cursor: pointer;
}
.decline{
    background: var(--danger);
}


.solicitud-vend,
.form-vend{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.txt-send{
    width: 10rem;
    height: 5rem;
    resize: none;
}
